@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  position: absolute;
  display: flex;
  width: 70%;
  height: 70%;
  top: 20%;
  left: 15%;

  /* Paper Background */

  background: #adc7e1;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
p.addTxt {
  position: absolute;
  width: 338px;
  height: 58px;
  left: 390px;
  /* top: 30px; */

  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 50px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  /* Grey-Very Dark */

  color: #122e40;
}
.formWrapper {
  position: relative;
  top: 15%;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 80%;
  margin-top: 50px;
  /* margin: 10px; */
  /* top: 148px; */
}

/* Form.form_group {
  position: absolute;
  width: 367px !important;
  height: 50px !important;
  left: 538px;
  top: 148px;

  Gray 5

  background: #e0e0e0 !important;
  border-radius: 10px;
} */
a.icon {
  position: absolute;
  color: black;
  top: 50px;
  left: 20px;
}
.add_button {
  /* Rectangle 5 */
  position: relative;
  top: 18%;
  left: 69%;
  width: 20%;

  background: #4796bd;
  box-shadow: 0px 5px 65px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}
.back_arrow {
  position: absolute;
  top: 10%;
}
.items_txt {
  /* Product */
  font-family: "Outfit";
  font-weight: 700;
  font-size: 22px;
  left: 20%;
  display: flex;
  align-items: flex-end;
  text-align: center;
  /* Grey-Dark */
  margin-left: 100px;
  color: #495d69;
}

.form_input {
  /* position: relative; */
  width: 367px;
  height: 80%;
  padding: 0.375rem 0.75rem 0.375rem 0.75rem;

  left: 20%;
  background-color: #fcfeff;
}
