@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.title {
  /* Inventory */

  position: absolute;
  width: 200px;
  height: 38px;
  left: 200px;
  top: 50px;
  background-color: #97a9b4;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  display: flex;
  align-items: flex-end;
  text-align: center;

  /* Grey-Very Dark */

  color: #122e40;
}
.wrapper {
  /* Group 53 */
  background-color: bisque;
  position: absolute;
  width: 1117px;
  height: 392px;
  left: 200px;
  top: 25%;
}
