@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  background: url("../../../../public/6.jpg") no-repeat center center/cover;
  width: 100vw;
  height: 100vh;
  font-family: poppins;
  font-size: 1rem;
  overflow: hidden;
}
.Wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.logo {
  background: url("../../../../public/2.png") no-repeat center center/cover;
  display: flex;
  width: 150px;
  height: 150px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.togglePassword {
  position: absolute;
  top: 25%;
  right: 33%;
}

.togglePassword:hover {
  color: #eb1d36;
  cursor: pointer;
}
.row {
  margin-bottom: 50px;
}

.signin {
  /* Modal */
  position: absolute;
  width: 914px;
  height: 666px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background: rgba(46, 74, 117, 0.51);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

p {
  text-align: center;
  margin: 1rem 0;
  color: white;
  font-family: "Outfit";
  font-style: normal;
}
.Email_login {
  /* Email Text */
  margin-top: 20px;
  margin-bottom: 0.5rem;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 16px;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.Password_login {
  /* Password Text */
  margin-top: 20px;
  margin-bottom: 0.5rem;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 16px;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.loginPassword {
  position: relative;
  display: flex;
  margin-bottom: 5px;
}

.Forgot_Password {
  display: block;
  text-align: center;
  color: rgba(255, 255, 255, 0.76);
  font-size: 14px;
  margin-bottom: 1rem;
}

.Forgot_Password:hover {
  cursor: pointer;
}

input:not([type="checkbox"]) {
  /* PasswordBox */
  width: 15rem;
  height: 3rem;
  padding-left: 1%;
  top: 27rem;
  margin: 0 auto;
  color: #000000;
  background: white;
  display: block;
  text-align: left !important;
  text-decoration: none;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: all 300ms ease;
}

/* .loginpasswordtext { */
/* PasswordBox */
/* width: 15rem;
  height: 3rem;
  padding-right: 50px !important;
  top: 27rem;
  margin: 0 auto;
  color: #000000;
  background: white;
  display: block;
  align-items: center;
  text-align: left !important;
  justify-content: center;
  text-decoration: none;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: all 300ms ease;
} */
.container form input[type="submit"] {
  background: #ad9b8cea;
  transition: all 300ms ease;
  cursor: pointer;
  transition: all 300ms ease;
}

.container form input[type="submit"]:hover {
  opacity: 0.8;
}

.have_an_account {
  display: block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.76);
  text-align: center;
}

.submit_btn {
  /* Sign In Button */
  display: flex;
  margin: auto;
  margin-top: 20px;
  margin-left: 22.5rem;
  width: 187px;
  height: 56px;
  top: 568px;
  border-color: #ad9b8cea !important;
  margin-right: 20px;
  background: #051e52;
  mix-blend-mode: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  align-items: center;
  justify-content: center !important;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: white;
}
.admin {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #415b83;
  font-size: 32px;
  font-weight: 500px;
  margin-top: 10px;
  font-family: "Outfit";
  margin-bottom: 5px;
}
.submit_btn:active {
  background: #3a4be4;
}
.container form small label {
  color: #fa9494;
  cursor: pointer;
}
input.signuplabelsleft {
  align-items: center;
  text-align: center !important;
  color: #fff;
  margin-top: 10px;
  font-family: "Outfit";
  margin-bottom: 5px;
  /* position: relative !important; */
}
label.signuplabelsleft {
  align-items: center;
  text-align: center !important;
  color: #fff;
  /* margin-top: 10px; */
  font-family: "Outfit";
  /* margin-bottom: 5px; */
  /* position: relative !important; */
}
input.emailIn {
  position: block;
  color: #fff;
  margin-top: 10px;
  font-family: "Outfit";
  margin-bottom: 5px;
  width: 80%;
  /* left: 50% !important; */
}

.toggleshow {
  color: rgb(9, 41, 187);
  font-size: 20px;
}
